body, html {
  margin: 0;
  padding: 0;
  font-size: 18px;
  @include media-breakpoint-down(xl) {
    font-size: 16px;
  }
  @include media-breakpoint-down(lg) {
    font-size: 14px;
  }
}
::selection {
  background: #0c8;
  color: #fff;
}
b,
strong {
    font-weight: bold;
}

a,
a:hover,
a:focus {
    transition: all 0.3s ease;
    outline: none;
    box-shadow: none;
}

img {
    max-width: 100%;
}

section {
    position: relative;
    z-index: 2;
}

main {
  // overflow: hidden;
}

.z-index-2 {
  z-index: 2 !important;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.swiper-container {
  width: 100%;
  overflow: hidden;
}
.swiper-wrapper {
  transition-timing-function: linear;
}
[role="button"] {
    outline: none !important;
}
