

// Bg colors

.bg-white {
    background-color: $white;
}

.bg-primary {
    background-color: $primary;
}

.bg-secondary {
    background-color: $secondary;
}

.bg-light-gray {
    background-color: $light-gray;
}

.bg-gray {
    background-color: $gray;
}
